@import "tailwindcss";

@theme {
  --color-background: #0a0a0c;
  --color-card: #151518;
  --color-accent: #3b82f6;
  --color-danger: #ef4444;
  --color-success: #10b981;
}

:root {
  background-color: var(--color-background);
  color: white;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}


/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0a0c;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

.map-container {
  height: 500px;
  width: 100%;
}
